Repository HumanCompatibleAI/imitation: changes, and which Codecov flags are due for each by the changed paths.
All: main, examples, scripts

Update docs
  README.md
Due: none

Try with flags
  .codecov.yml
  .travis.yml
Due: none

Fix up codecov config
  .codecov.yml
  .travis.yml
Due: none

TEMPORARY HACK: is CodeCov confused by nested paths?
  .codecov.yml
  .travis.yml
  imitation/examples/model_envs.py
  imitation/main/__init__.py
  imitation/main/airl.py
  imitation/main/discrim_net.py
  imitation/main/model_env.py
  imitation/main/reward_net.py
  imitation/main/summaries.py
  imitation/main/tabular_irl.py
  imitation/util/trainer.py
  tests/test_reward_net.py
  tests/test_tabular.py
Due: main, examples

Revert "TEMPORARY HACK: is CodeCov confused by nested paths?"
  .codecov.yml
  .travis.yml
  imitation/airl.py
  imitation/discrim_net.py
  imitation/examples/model_envs.py
  imitation/main/__init__.py
  imitation/model_env.py
  imitation/reward_net.py
  imitation/summaries.py
  imitation/tabular_irl.py
  imitation/util/trainer.py
  tests/test_reward_net.py
  tests/test_tabular.py
Due: main, examples

Try codecov without flags
  .codecov.yml
Due: none

TEMPORARY COMMIT: introduce some untested code
  imitation/untested_copy_ohno.py
Due: main

TEMPORARY: Add some untested code
  imitation/reward_net.py
  imitation/untested_copy_ohno.py
Due: main

Remove dummy function
  imitation/reward_net.py
Due: main

Fix lint
  ci/code_checks.sh
  imitation/reward_net.py
Due: main

README: Add CodeCov info
  README.md
Due: none

README: fix typo
  README.md
Due: none

Fix code coverage (#15)
  .codecov.yml
  .coveragerc
  .travis.yml
  README.md
  ci/code_checks.sh
  imitation/scripts/__init__.py
  imitation/scripts/data_collect.py
  imitation/scripts/train.py
  imitation/util/util.py
  notebooks/plot_training.ipynb
  scripts/run_training.py
  tests/conftest.py
  tests/test_airl.py
  tests/test_reward_net.py
  tests/test_tabular.py
Due: main, scripts

setup.py: Add python 3.6 tag
  setup.py
Due: none

Update gitignore
  .gitignore
Due: none

Require two space indent
  README.md
  setup.cfg
Due: none

Autoformat to two spaces with autopep8
  imitation/airl.py
  imitation/discrim_net.py
  imitation/examples/model_envs.py
  imitation/model_env.py
  imitation/reward_net.py
  imitation/scripts/data_collect.py
  imitation/scripts/train.py
  imitation/summaries.py
  imitation/tabular_irl.py
  imitation/util/rollout.py
  imitation/util/trainer.py
  imitation/util/util.py
  tests/conftest.py
  tests/test_airl.py
  tests/test_reward_net.py
  tests/test_tabular.py
Due: main, examples, scripts

Refactor reward network: make docstrings Google style, factor out _build_theta_network, make hidden units configurable
  imitation/reward_net.py
Due: main

Formatting issues missed by autopep8
  imitation/reward_net.py
Due: main

gitignore: Merge with GitHub's python gitignore
  .gitignore
Due: none

Change docstrings indentation 2=>4
  imitation/airl.py
  imitation/scripts/train.py
  imitation/util/rollout.py
Due: main, scripts

Fix docstrings
  imitation/airl.py
  imitation/scripts/data_collect.py
  imitation/tabular_irl.py
  imitation/util/rollout.py
  imitation/util/trainer.py
  imitation/util/util.py
Due: main, scripts

Add Sphinx generated docstrings, fix up linting errors
  ci/code_checks.sh
  docs/Makefile
  docs/conf.py
  docs/imitation.examples.rst
  docs/imitation.rst
  docs/imitation.scripts.rst
  docs/imitation.util.rst
  docs/index.rst
  docs/make.bat
  docs/modules.rst
  imitation/__init__.py
  imitation/airl.py
  imitation/examples/model_envs.py
  imitation/scripts/train.py
  imitation/tabular_irl.py
  imitation/util/rollout.py
  imitation/util/trainer.py
  requirements-dev.txt
  setup.py
Due: main, examples, scripts

Move types to appropriate place
  imitation/airl.py
  imitation/examples/model_envs.py
  imitation/reward_net.py
  imitation/util/rollout.py
  imitation/util/trainer.py
  imitation/util/util.py
Due: main, examples

Add missing dependencies to Travis
  .travis.yml
Due: none

Fix travis (again)
  .travis.yml
Due: none

Install OpenMPI for linting too
  .travis.yml
Due: none

Remove spurious flags in codecov
  .codecov.yml
Due: none

Expose reward and potential network builders publicly; support depending on next observation
  imitation/reward_net.py
Due: main

Bugfix: use shapes in util.flat
  imitation/reward_net.py
Due: main

Address Steven comments
  imitation/reward_net.py
Due: main

Address comments
  imitation/airl.py
  imitation/reward_net.py
  imitation/util/trainer.py
  imitation/util/util.py
Due: main

Missed a comment
  imitation/reward_net.py
Due: main

CI: Run pytype
  .travis.yml
  requirements-dev.txt
Due: none

Fix pytype error
  imitation/reward_net.py
  imitation/scripts/data_collect.py
  imitation/scripts/train.py
  imitation/tabular_irl.py
  imitation/util/rollout.py
  imitation/util/trainer.py
  imitation/util/util.py
Due: main, scripts

Fix pytype in tests/
  tests/test_airl.py
Due: none

Fix travis.yml mixup
  .travis.yml
Due: none

another travis yml fix
  .travis.yml
Due: none

travis: Also lint check tests/
  ci/code_checks.sh
Due: none

Move type checking command into its own ci/ file
  .travis.yml
  README.md
  ci/lint.sh
  ci/type_check.sh
  setup.cfg
Due: none

Path conditions:
  main: any of: imitation/
  examples: any of: imitation/examples/
  scripts: any of: imitation/scripts/
